/*
 * Header hover anchor links.
 *
 * Based on implementation from
 * http://ben.balter.com/2014/03/13/pages-anchor-links/ 
 */

h2, h3, h4, h5, h6 {
  position: relative;
}

.header-link {
  position: absolute;
  left: -1em;
  opacity: 0;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

[class*=span] {
    max-width: 100%;
}

/* Give more space to paragraphs following tables.
 * This is particularly important in the Cookbook section.
 */ 
table + p { 
  margin-top: 20px;
}
