/*
 * Header hover anchor links.
 *
 * Based on implementation from
 * http://ben.balter.com/2014/03/13/pages-anchor-links/
 */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   margin-bottom: 1.5rem;
   word-wrap: break-word;
 }

h2:first-child {
  margin: 2rem 0;
}

h2, h3, h4, h5, h6 {
  position: relative;
}

/*h1, h2, h3 {
  margin-bottom: 1.5rem;
}*/

.header-link {
  position: absolute;
  left: -1em;
  opacity: 0;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

[class*=span], img {
    max-width: 100%;
}

table {
  margin-bottom: 3rem;
}

table, th, tr, td {
  text-align: left;
}

th, td {
  padding: .2rem;
}

/* Give more space to paragraphs following tables.
 * This is particularly important in the Cookbook section.
 */
table + p {
  margin-top: 20px;
}

p, ul, ol {
  margin-bottom: 2rem;
  word-wrap: break-word;
}

pre {
  background: rgba(0, 0, 0, 0.03);
  border: 1px rgba(0, 0, 0, 0.1) solid;
  padding: .8rem;
  border-radius: 10px;
  word-wrap: break-word;
}

code {
  word-break: break-all;
}

.nav-item {
  margin: 0 .2rem;
}

.nav-items-float {
  justify-content: flex-end;
}